*{
	box-sizing: border-box;
	margin: 0;
}

html, body{
	height: 100%;
	margin: 0;
}

body{
	background: #fff;
	width: 960px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: #666;
}

img{
	display: inline-block;
	margin-left: 0;
}

h2,h3{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;	
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

b{
	line-height: 20px;
	font-size: 14px;
}


#header{
	border-bottom: 3px solid #FF5700;
	border-top: 1px solid #cccccc;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	overflow: hidden;
	height: 80px;
	width: 100%;
}

#my-name{
	background: #4aaaa5;
	width: 20%;
	text-align: left;
	padding-left: 25px;
	margin-left: 15px;
	margin-top: 15px;
	color: #fff;
	float: left;
}


#nav{
	background: #fff;
	width: 75%;
	padding: 20px 10px 20px 0px;
	text-align: right;
	float: right;
	font-size: 14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#content{
	/*background-image: url('assets/images/gplaypattern.png');*/
	width: 960px;
	float: 	left;
	background: #ddd;
	padding: 10px;
	overflow: hidden;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
	/*height: auto;*/
}

#main, #connect{
	background: #fff;
	margin:5px;
	float: left;
}

#main{
	width: 650px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;

}

#connect{
	width: 270px;
	text-align: center;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#my-main-picture{
	float: left;

}

#my-name-color{
	color: #fff;
}

nav .selected {
	font-weight: bold;
	color: #FF5700;
}	


.container{
	/*min-height: 100%;*/
	max-width: 960px;
	width: 100%;
	/*height: auto;*/
	/*height: 100%;*/
	/*background: #fff;*/
	clear: both;
	margin: 0 auto;
	margin-bottom: -60px;
}

/*.container:after {
	content: "";
	display: block;
	height: 60px;

}*/

.footer, .push{
	height: 60px;
}

.footer{
	clear: both;
	background: #666666;
	text-align: center;
	padding-top: 20px;
	border-top: 3px solid #FF5700;
	color: #eee;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;	
}

.portafolio-image{
	width: 256px;
}

#linkedin-image, #github-image, #stack-image{
 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
          margin: 5px;
}

#linkedin-image:hover , #github-image:hover, #stack-image:hover{
	width: 60px
}


.portafolio-main{
	float: left;
	position: relative;
	padding: 15px 22px 0px 22px;
	text-align: center;
}

.portafolio-content{
	position: absolute;
	width: 256px;
	height: 40px;
	padding-top: 7px;
	text-align: center;
	bottom: 30px;
	background-color: #4aaaa5;
	color: #fff;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	transition: all 0.3s ease 0s;
}

.portafolio-description{
	color: #fff;
}

.portafolio-content:hover{
	background-color: #FF5700;
	font-weight: bold;
}

/*Media Query */
/*Screen width is 980 px*/
@media screen and(max-width: 980px){
	.container{
		/*width: 100%;*/

	}

}

/*Screen width is 768px*/
@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}
}

/*Screen width is 640px*/
@media screen and (max-width: 640px) {
	.container, #content, #header, body, #main{
		/*max-width: 640px;*/
		width: 100%;
		/*overflow: auto;*/
	}
	#my-name{
/*		clear: both;*/
		width: 30%;
/*		padding: 0;
		margin: 0;
		float: left;*/
	}
	#connect{
		clear: both;
	
	}
	#nav{
		/*clear: both;*/
		width: 65%;
		/*padding: auto;*/
		/*text-align: right;*/
	}
}
